<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing:</h3>
    <form
      method="post"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation" enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%=listing.title%>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          cols="20"
          rows="5"
          name="listing[description]"
          class="form-control"
          required
        >
    <%=listing.description%></textarea
        >
        <div class="invalid-feedback">Enter description for your listing.</div>
      </div>


      <div class="mb-3">
        Original Listing Image <br>
        <img src="<%=orignalImageUrl%>" alt="listing_img" width="250px">
      </div>

      <!-- listing.image.url -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
      </div>

      <div class="row">
        
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%=listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid price.</div> </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%=listing.country%>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">country name should be valid.</div>
          </div>
        </div>
      
        <div class="mb-3 col-md-8">
          <label for="category" class="form-label">Category</label>
          <select id="category" name="listing[category]" value="<%=listing.category%>" class="form-control" required>
           <a href="/listings/options?category=Trending"></a> <option value="Trending" >Trending</option>
           <a href="/listings/options?category=Rooms"></a>   <option value="Rooms">Rooms</option>
           <a href="/listings/options?category=Iconic Cities"></a>  <option value="Iconic Cities">Iconic Cities</option>
           <a href="/listings/options?category=Mountains"></a>  <option value="Mountains">Mountains</option>
           <a href="/listings/options?category=Castles"></a>   <option value="Castles">Castles</option>
           <a href="/listings/options?category=Amazing Pools"></a>   <option value="Amazing Pools">Amazing Pools</option>
           <a href="/listings/options?category=Camping"></a>   <option value="Camping">Camping</option>
           <a href="/listings/options?category=Farms"></a>   <option value="Farms">Farms</option>
           <a href="/listings/options?category=Arctic"></a>   <option value="Arctic">Arctic</option>
           <a href="/listings/options?category=Domes"></a>   <option value="Domes">Domes</option>
           <a href="/listings/options?category=Boats"></a>   <option value="Boats">Boats</option>
          </select>
        </div>
      

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%=listing.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">location should be valid.</div>
      <button class="btn btn-dark add-btn mb-3">ADD</button>
    </form>
  </div>
</div>
